@{
    ViewBag.Title = "Contact";
    Layout = "../Shared/_Layout.cshtml";
}
<h3>@ViewBag.Message</h3>

<address>
    310 SW 4th Ave #412<br />
    Portland, OR 97204<br />
    <abbr title="Phone">P:</abbr>
    503.206.6915
</address>

<address><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.4649013622006!2d-122.6770446844406!3d45.52084937910168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950a0684247fe3%3A0x5da36c0a845cc351!2s310+SW+4th+Ave+%23412%2C+Portland%2C+OR+97204!5e0!3m2!1sen!2sus!4v1491695976427" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">info@learncodinganywhere.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">info@learncodinganywhere.com</a>
</address>